<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MobDevMuseumApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobDevMuseum"
        tools:targetApi="31">

        <activity
            android:name=".presentation.intro.CheckPrefActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAyalA-MekMQ9QcmpsyrYTfTG1EC0cLmoA" />

        <activity
            android:name=".presentation.camera.view3d.View3dActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.RealMainActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.intro.LoginActivity"
            android:exported="false"
            android:launchMode="singleInstance" />

        <activity
            android:name=".presentation.intro.SignUpActivity"
            android:exported="false"
            android:launchMode="singleInstance" />

        <activity
            android:name=".presentation.intro.IntroductionActivity"
            android:exported="false"
            android:theme="@style/Theme.MobDevMuseum.Fullscreen" />

        <activity
            android:name=".presentation.streetview.item.StreetViewPanoramaEventsDemoActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.download.DownloadActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.camera.view3d.RealMainActivity2"
            android:exported="false" />

    </application>

</manifest>
